h2{
  text-align: center;
}

.square {
  width: 100px;
  height: 100px;
  text-align: center;
  font-size: 50px;
}

#board {
  border-collapse: collapse;
  border-spacing: 0;
  position: absolute;
}

#board tr td:hover {
  background: lightgray;
  cursor: pointer;
}

#board tr td.isWinner:hover {
  background: orange;
}

#board.isADraw tr td:hover {
  background-color: lightgrey;
  cursor: pointer;
}

.image {
   position: relative;
   width: 100%;
}

table {
  width: 1000px;
  height: 1000px;
  margin-top: 100px;
}

table.center {
  margin-left: auto;
  margin-right: auto;
}


td {
  border:20px solid #222;
  border-color: darkgray;
}

td:first-of-type {
  border-left-color: transparent;
  border-top-color: transparent;
}

td:nth-of-type(2) {
  border-top-color: transparent;
}

td:nth-of-type(3) {
  border-right-color: transparent;
  border-top-color: transparent;
}

tr:nth-of-type(3) td {
  border-bottom-color: transparent;
}

.isWinner {
  background-color: yellow;

}

.potWinMove {
  background-color: green;
}

.potWinLine {
  background-color: lightgreen;
}

.defLine {
  background-color: rgba(255, 0, 0, 0.6);

}

.defMove {
  background-color: red;
}

.isADraw {
  background-color: lightgrey;
}
